* {
    box-sizing: border-box;
  }
  
  
  header {
    background-color: gray;
    width: 100%;
  }
  
  header nav{
    padding: 1rem 0;
    display: flex;
    align-items: center;
  }
  
  main,
  header nav {
    margin: 0 auto;
    width: 960px;
  }
  
  header ul {
    margin-left: 6rem;
  }
  
  header ul li {
    display: inline-block;
  }
  
  header ul li a {
      display: inline-block;
    padding: .5rem;
    color: rgb(214, 214, 214);
    text-decoration: none;
  
}
  
    main ul{
    display: flex;
    justify-content: space-between;
}

  
    li a {
    background-color: gray;
    margin-right: 90px;
}
  
    main article {
    float: right;
    width: 480px;
    padding: 1rem 0 0 1rem;
    
}
  main article section {
    overflow: scroll;
    height: 300px;
    margin-bottom: 33px;
    
}

article h2{

font-weight: bold

}
  
  h3 {
    color: rgb(83, 83, 83);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  
  main img {
    margin: 10px 0;
  }

  a{
color: white;
padding: 20px 40px;

  }
  
  button {
  background-color: #0e0e0e; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 130px;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: gray;
    padding: 50px;
  }