body {
<<<<<<< HEAD
    background-color: gainsboro;
=======
    background-color: salmon;
>>>>>>> 61d83f4ffc688f04b9eb061727b380aea5f4f1e6
    font-family: 'Anton', sans-serif;
   }
   
   header {
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-between;
   }
   
   img {
       width: 550px;
       height: 200px;
<<<<<<< HEAD
      
   }
   
   h1 {
    font-size: 3rem;
    margin-left: 1rem;
    
=======
   
   }
   
   h1 {
    font-size: 2rem;
    margin-left: 1rem;
   
>>>>>>> 61d83f4ffc688f04b9eb061727b380aea5f4f1e6
   
   }
   
   nav {
      margin-right: 1rem;
   }
   
   li {
       display: inline;
       font-size: 1.5rem;
       margin: 1rem;
<<<<<<< HEAD
       
=======
   
>>>>>>> 61d83f4ffc688f04b9eb061727b380aea5f4f1e6
   }   
   
   a {
       text-decoration: none;
       color: black;
   }
   
   a:visited {
       color: black;
   }
   
<<<<<<< HEAD
   a:hover {
       color: white;
   }
   
   
   thead {
       border: 1px solid black;
       
   }
   
   th {
       border: 1px solid black;
       padding: 10px;
   }
   
   tbody {
       border: 1px solid black;
   }
   
   td {
       border: 1px solid black;
       padding: 10px;
   }
   
   tfoot {
       border: 1px solid black;
   }
=======
   main {
       display: flex;
       justify-content: space-between;
       margin-top: 2rem;
   
   }
   
   main li {
       display: flex;
       flex-direction: row;
       margin-left: 2.5rem;
   }
   
   main h2 {
       margin-left: 1rem;
       font-size: 2rem;
>>>>>>> 61d83f4ffc688f04b9eb061727b380aea5f4f1e6
